<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<script src="{{ url_for('static', filename='chart.js') }}"></script>

<script src="{{ url_for('static', filename='jquery.js') }}"></script>


<script>
$("#files").change(function() {
  filename = this.files[0].name;
  console.log(filename);
});
</script>



<body>
    <div class="container">
        <h2 style="text-align:left">Fragmented Stationaryness Analyser</h2>
    
        <div>
            <p3 style="text-align:left">Select file and click to Upload sample excel file that is compatible. The script will calculate median values and divides the time series data into fragments by stationaryness.</p3>
        </div>
        <br>
        <br>

        <h1>Upload Excel File (.xlsx)</h1>
            <form action="{{ url_for('view') }}" method="post" enctype="multipart/form-data">
                <label for="files" class="btn">Click to Select File</label>
                <input id="files" style="display:none;" type="file" name="file"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <input type="submit" value="Upload">
            </form>

        <br>
        <br>
        
        
        <canvas id="myLineChart" width="380" height="180"></canvas>
        
        <script>
        // data for showing the line chart
        let labels = {{ labels | safe }};
        let dataset1Data = {{ median_price | safe }};
        let dataset2Data = {{ fixedness | safe }};

        // Creating line chart
        let ctx = 
            document.getElementById('myLineChart').getContext('2d');
        let myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Median Price',
                        data: dataset1Data,
                        borderColor: 'blue',
                        borderWidth: 1,
                        fill: false,
                    },
                    {
                        label: 'Fixedness',
                        data: dataset2Data,
                        borderColor: 'green',
                        borderWidth: 1,
                        fill: false,
                    },

                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            font: {
                                padding: 4,
                                size: 20,
                                weight: 'bold',
                                family: 'Arial'
                            },
                            color: 'darkblue'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            font: {
                                size: 20,
                                weight: 'bold',
                                family: 'Arial'
                            },
                            color: 'darkblue'
                        },
                        beginAtZero: false,
                        scaleLabel: {
                            display: true,
                            labelString: 'Values',
                        }
                    }
                }
            }
        });
        </script>
 
 
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>time</th>
                <th>median values</th>
                <th>stationaryness</th>
            </tr>
        </thead>
        <tbody>

            {% for element in table_array %}
                        
            <tr>
                <td>{{ element[0] }}</td>
                        
                <td>{{ element[1] }}</td>

                <td>{{ element[2] }}</td>
            </tr>
                        
            {% endfor %}

        </tbody>
    </table>

</body>
</html>


